<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <title>Synclio files</title>

    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">-->
    <!--<style>-->
        <!--.hidden {-->
            <!--display: none;-->
        <!--}-->
        <!--.col-sm-3.placeholder {-->
            <!--width: 100%;-->
        <!--}-->
    <!--</style>-->
    <!--<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>-->
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>-->
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
    <![endif]-->
</head>
<body>
    <div>
        <h2 id="path_name"></h2>
        <!--<a style="float:right; padding-right:20px; margin-top: -40px;" href="/login-user">Login</a>-->
    </div>
    <div>
    {% if directories or files %}
        <table class="table table-striped">
          <tbody>
          <tr><th><img src="/icons/blank.gif" alt="[ICO]"></th><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Date created</a></th><th><a href="?C=S;O=A">Size</a></th><th><a href="?C=D;O=A">Description</a></th></tr>
          <tr><th colspan="5"><hr></th></tr>
          <tr id="parent_directory"><td valign="top"><img src="/icons/back.gif" alt="[Back]"></td><td><a id="parent_path" href="/">Parent Directory</a></td><td>&nbsp;</td><td align="right"> - </td><td>&nbsp;</td></tr>

          {% for directory in directories %}
          <tr><td valign="top"><img src="/icons/folder.gif" alt="[DIR]"></td><td><a href={{directory.path}}>{{directory.name}}</a></td><td align="right">{{directory.date_added}} </td><td align="right"> - </td><td>&nbsp;</td></tr>
          {% endfor %}

          {% for file in files %}
          <tr><td valign="top"><img src="/icons/binary.gif" alt="[   ]"></td><td><a href={{file.url}}>{{ file.filename }}</a></td><td align="right">{{ file.date_added }}  </td><td align="right"> {{ file.size }}</td><td align="right">{{file.description}}</td></tr>
          {% endfor %}

          <tr><th colspan="5"><hr></th></tr>
          </tbody>
        </table>
    {% else %}
        <p>That's All Folks. Nothing to see here.</p>
    {% endif %}
    </div>
    <address id="hostname"></address>
</body>

<script>
        document.getElementById("path_name").innerText = "Index of "+ decodeURI(document.location.pathname);
        if(document.location.pathname != "/"){
        var path_directory = document.location.pathname.substr(0, document.location.pathname.lastIndexOf("/"))
        document.getElementById("parent_path").href = path_directory == "" ? "/" : path_directory;
        } else{
        document.getElementById("parent_directory").style.display = "none";
        }
        document.getElementById("hostname").innerText = "Google Appengine Server at " +location.host;
    </script>
</html>