<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GAE File Manager</title>
</head>
<body>
    <div>
        <h2 id="path_name" style=" padding-left: 10px;"></h2>
        <!--<a style="float:right; padding-right:20px; margin-top: -40px;" href="/login-user">Login</a>-->
    </div>
    <div style="display:none" class='custom-menu'>Create Folder</div>
    <div>
    {% if directories or files %}
        <table class="table table-bordered">
          <tbody>
          <tr class="info"><th><img src="/icons/blank.gif" alt="[ICO]"></th><th><a href="?C=N;O=D">Name</a></th><th><a href="#">Download</a></th><th><a href="?C=M;O=A">Date created</a></th><th><a href="?C=S;O=A">Size</a></th><th><a href="?C=D;O=A">Description</a></th></tr>
          <tr id="parent_directory"><td valign="top"><span class="glyphicon glyphicon-chevron-up" /></td><td><a id="parent_path" href="/">Parent Directory</a></td><td>&nbsp;</td><td> - </td><td>&nbsp;</td></tr>

          {% for directory in directories %}
          <tr><td valign="top"><span class="glyphicon glyphicon-folder-close"/></td><td><a href={{directory.path}}>{{directory.name}}</a></td><td>-</td><td>{{directory.date_added}} </td><td> - </td><td>&nbsp;</td></tr>
          {% endfor %}

          {% for file in files %}
          <tr><td valign="top"><span class="glyphicon glyphicon-file"/></td><td><a href={{file.url}}>{{ file.filename }}</a></td><td><a class="glyphicon glyphicon-cloud-download" href="{{file.url}}?dl=1"></a></td><td >{{ file.date_added }}  </td><td> {{ file.size }}</td><td>{{file.description}}</td></tr>
          {% endfor %}
          </tbody>
        </table>
    {% else %}
        <p style=" padding-left: 10px;">That's All Folks. Nothing to see here.</p>
    {% endif %}
    </div>
    <address id="hostname" style=" padding-left: 10px; float: left; position: fixed; bottom: 0;"></address>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/view-helper.css">
<script src="/js/views/view-controller.js"></script>
</html>